@import "../colors.scss";
@import "../global.scss";

.Text {
  display: inline-block;
  border: 1px solid transparent;
  padding-bottom: 2px;
  padding-left: 2px;
  width: fit-content;
  height: fit-content;
  border-radius: 0;
  &.underline {
    border-bottom-color: $gray-2;
  }
  &.through-line {
    text-decoration: line-through;
  }
}
